<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
    <link th:href="@{/album.css}" rel="stylesheet"/>

</head>
<body>

<header class="header">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li><a href="/helloForm">Hello</a>
        </li>
        <li>
            <a href="/capitalize">Capitalize</a>
        </li>
        <li>
            <a href="/albums">Album</a>
        </li>
        <li>
            <a href="/addAlbum">Add Album</a>
        </li>
    </ul>
</header>
<main class="addForm">
    <center>
        <form action="/albums" method="post" class="my-form">
            <label>Title</label>
            <br>
            <input type="text" name="title" required="required"/>
            <br>
            <br>

            <label>Artist</label>
            <br>
            <input type="text" name="artist"  required="required"/>
            <br>
            <br>


            <label>Song Count</label>
            <br>
            <input type="number" name="songCount"  required="required"/>
            <br>
            <br>


            <label>Length</label>
            <br>
            <input type="number" name="length"  required="required"/>
            <br>
            <br>


            <label>Image URL</label>
            <br>
            <input type="text" name="imageUrl"  required="required"/>
            <br>
            <br>


            <input type="submit" value="submit" class="submit">
        </form>
    </center>
</main>
<footer class="footer">
    <br>
    <center>Contact Me<br> <br>
        Email : noor.hajbi@gmail.com <br> <br>
        Phone : +9627777777 <br> <br>
    </center>

</footer>
</body>
</html>