<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add Song</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
    <link th:href="@{/album.css}" rel="stylesheet"/>
</head>
<body>

<header class="header">
    <nav th:replace="fragments/nav :: navigation"></nav>
</header>
<main class="addForm">
    <center>
        <p>These are the songs in album <b th:text="${currentAlbum.title}"></b></p>
        <br>
        <div th:each="song: ${currentAlbum.getSongs()}">
            <p><b> Song Title:</b> <span th:text="${song.title}"></span>,
                <b>Song Length:</b> <span th:text="${song.length}"></span>,
                <b>Track Number: </b><span th:text="${song.trackNumber}"></span>
            </p>
        </div>
        <br>
        <p> Add new Song</p>
        <br>
        <form th:action="@{'/songs/'+${currentAlbum.id}}" method="POST" class="my-form">

            <label>Title</label>
            <br>
            <input type="text" name="title" required="required"/>
            <br>
            <br>

            <label>Length</label>
            <br>
            <input type="number" name="length" required="required"/>
            <br>
            <br>

            <label>Track Number</label>
            <br>
            <input type="number" name="trackNumber" required="required"/>
            <br>
            <br>

            <input type="submit" value="submit" class="submit">
        </form>
    </center>
</main>
<footer class="footer">
    <br>
    <center>Contact Me<br> <br>
        Email : noor.hajbi@gmail.com <br> <br>
        Phone : +9627777777 <br> <br>
    </center>

</footer>
</body>
</html>

