<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
    <link th:href="@{/hello.css}" rel="stylesheet"/>
<body>

<header class="header">
    <nav th:replace="fragments/nav :: navigation"></nav>
</header>

<main>
    <h1>Error 404! </h1>
    <br>
    <br>
    <a href="/">Go Home</a>
</main>

<footer class="footer">
    <br>
    <center>Contact Me<br> <br>
        Email : noor.hajbi@gmail.com <br> <br>
        Phone : +9627777777 <br> <br>
    </center>

</footer>
</body>
</html>