<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
    <link th:href="@{/hello.css}" rel="stylesheet" />
</head>
<body>

<header class="header">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li> <a href="/helloForm">Hello</a>
        </li>
        <li>
            <a href="/capitalize">Capitalize</a>
        </li>
        <li>
            <a href="/albums">Album</a>
        </li>
        <li>
            <a href="/addAlbum">Add Album</a>
        </li>
    </ul>
</header>

<main>
<h1 th:text="${hello}"></h1>
</main>

<footer class="footer">
    <br>
    <center>Contact Me<br> <br>
        Email : noor.hajbi@gmail.com <br> <br>
        Phone : +9627777777 <br> <br>
    </center>

</footer>
</body>
</html>

<!--The implementation of the method body relies on a view technology-->
<!--(in this case, Thymeleaf) to perform server-side rendering of the HTML. -->
<!--Thymeleaf parses the greeting.html template and evaluates -->
<!--the th:text expression to render the value of the ${name} parameter that was set in the controller.-->
<!--The following listing (from src/main/resources/templates/greeting.html) shows the greeting.html template:-->