<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link th:href="@{/style.css}" rel="stylesheet" />

</head>
<body>

<header class="header">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li> <a href="/helloForm">Hello</a>
        </li>
        <li>
            <a href="/capitalize">Capitalize</a>
        </li>
        <li>
            <a href="/albums">Album</a>
        </li>
        <li>
            <a href="/addAlbum">Add Album</a>
        </li>

        <li>
            <a href="/songs">Songs</a>
        </li>
        <li>
            <a href="/addSong">Add Song</a>
        </li>
    </ul>
</header>
<main class="main">

    <center>
         <div class="box">
                <img src="https://i.pinimg.com/originals/4a/7a/b6/4a7ab6edd0014821531813aefe68d810.jpg" height="427">
        </div>
    </center>
</main>
<footer class="footer">
    <br>
    <center>Contact Me<br> <br>
        Email : noor.hajbi@gmail.com <br> <br>
        Phone : +9627777777 <br> <br>
    </center>

</footer>
</body>

</html>