<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="header">
    <nav th:replace="fragments/nav :: navigation"></nav>
</header>
<main class="container">
    <table class="table" border="2">
        <thead>
        <tr>
            <th scope="col"> Id</th>
            <th scope="col"> Title</th>
            <th scope="col">Track Number</th>
            <th scope="col"> Length</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="song:${songs}">
            <td th:text="${song.id}"></td>
            <td th:text="${song.title}"></td>
            <td th:text="${song.trackNumber}"></td>
            <td th:text="${song.length}"></td>
        </tr>
        </tbody>
    </table>
</main>


</body>
</html>